<div class="sidebar-header header-cover" style="background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
  <div class="sidebar-image">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg">
  </div>
  <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
    mario.rossi@gmail.com
    <b class="caret"></b>
  </a>
</div>

<ul class="nav sidebar-nav">
  <li><a href="#"><i class="sidebar-icon md-inbox"></i>Prodotti</a></li>
  <li><a href="#"><i class="sidebar-icon md-star"></i>Promozioni</a></li>
  <li><a href="#"><i class="sidebar-icon md-send"></i>Le mie riparazioni</a></li>
  <li><a href="#"><i class="sidebar-icon md-drafts"></i>La mia card</a></li>
  <li class="divider"></li>
  <li class="dropdown">
    <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
      All Mail <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#" tabindex="-1">Social<span class="sidebar-badge">12</span></a></li>
      <li><a href="#" tabindex="-1">Promo<span class="sidebar-badge">0</span></a></li>
    </ul>
  </li>
  <li><a href="#">Trash<span class="sidebar-badge">3</span></a></li>
  <li><a href="#">Spam<span class="sidebar-badge">456</span></a></li>
  <li><a href="#">Follow Up <span class="sidebar-badge badge-circle">i</span></a></li>
</ul>
